/* CSS START */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #9c9ea0; 
}
/* ----------NAV BAR--------- */

.headerlogo {
  width: 200px;
  max-height: 200px;
  margin-left: 75px;
}

a {
  display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  .nav {
    height: 180px;
    width: 100%;
    background-color: #a0705a;
    position: relative;
    border-bottom: black solid 3px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    margin: 70px 20px 0 0;
    
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
  }
  
  .nav > #nav-check {
    display: none;
  }
  /* NAV BAR SLUT */

  /* Responsive START */

  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 50px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      margin-top: 15px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
/* Responsive SLUT */

/* Footer Start */

.footer-container {
  display: flex;
  justify-content: space-between;
  border-top: #000 solid 3px;
  border-bottom: #000 solid 3px;
  padding: 20px 0;
  align-items: center;
}

#footer {
  background-color: #a0705a;
}

.footer_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer_right {
  display:flex;
  flex: 1;
  margin-left: -20px;
}

.footer_left h3 {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  
}


.footer_right h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
  margin-left: 5px;
  margin-top: 8%;
  color: #fff;
}


.footer_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer_center img {
  max-width: 200px;
  height: auto;
}


 .social-icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.social-link {
  display: inline-block;
  margin: 5px;
  max-height: 200px;
}

.social-link img {
  max-width: 80px;
  padding: 10px;
}
@media (max-width: 768px) {
  
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer_left, .footer_right {
    flex: 1;
  }

  .footer_right {
    margin-top: 20px;
  }

  .footer_left h3, .footer_right h3 {
    font-size: 1.5rem;
  }

  .footer_center img {
    max-width: 80px;
  }

  .social-icons {
    margin-top: -9px;
  }
}

@media (max-width: 768px) {
  
  .social-link {
    max-width: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .footer_left, .footer_center, .footer_right {
    flex: 100%;
    text-align: center;
  }

  
  .footer_right {
    display: flex;
    justify-content: center;
  }
   
  .footer_right h3 {
    margin: 10px;
    font-size: 26px !important;
  }
  .footer_right img {
    width: 50px;
  }

  #madplan {
    padding: 20px;
}

.card_overview_pla {
  width: 100% !important;
  margin: 0 !important;
  font-size: 18px;
}

.info_container_pla {
  margin: 0 !important;
  display: block !important;
}
}

/* Footer slut */




/* Copyright start */
.copyright {
  text-align: center;
  margin: 10px 0 10px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
/* Copyright Slut */

/* --------Responsive Tablets --------- */
  @media only screen and (max-width:880px) {
    
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
    .menu {
      width: 100%;
    }
  }
   /* ------- Responsive Mobil --------- */
  @media only screen and (max-width:640px){
    .menu {
      display:none;
    }
    .main {
      width: 100%;
    }
    .right {
      width: 100%;
    }

    .center-container {
      width:100% !important;
  }

.image-container {
  justify-content: center ; 
}

.image-box img {
height: 150px !important;
width: 100% !important;

}

.re_txtboks {
  display:block;
  width:85% !important;
  padding: 2%;
}

.card_overview_re {
  width:100% !important;
  margin: 0 !important;
}

.info_container_re {
  display:block !important;
}
  }

  /* Forside Start */

  /* Menu start */
  
  .menuoverskrift {
    text-align: center;
    margin-left: 42px;
    margin-bottom: -15px;
    text-decoration: underline;
  }
  
  .menu {
    float: left;
    width: 20%;
    margin-top: 1.20%;
   
    
  }
  .menuitem {
    margin:30px 0 0 50px;
    display: block;
    background-color: #ffffff;
    text-align: center;
    border: #000 solid 3px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  .menuitem a:hover {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
  }
  
  .menuitem a:hover {
    color: white; 
    background-color: black;
  }
 /* Menu slut */
 

.forside_overskrift {
  font-size: 36px;
  text-align: center; 
}

 .forside_txtboks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ffffff;
  width: 75%;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
 }

/* Galleri start */

.gallerih2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  font-weight: bold;
  font-size: 25px;
  margin-top: 7%;
}

.image-container {
  display: flex;
  align-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.image-box {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  flex-basis: calc(50% - 10px);

  @media (min-width: 768px) {
    flex-basis: calc(33.33% - 10px); 
  }

  @media (min-width: 1200px) {
    flex-basis: calc(25% - 10px);
  }
}

.image-box img {
  width: 400px;
  max-width: 100%;
  height: 250px; 
  border: #000 solid 3px;
  border-radius: 10px;
}
  /* Forside Slut */


  /* Planlægning Start */

.pla_overskrift {
  text-align: center;
}

.info_container_pla {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.card_overview_pla {
  width: calc(33.33% - 20px);
  margin-left: 200px;
  margin-top: 40px;
  font-size: 18px;
}

.card_overview_pla img {
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
  height: 100%;
  max-height: 300px;
  border: #000 solid 3px;
  border-radius: 10px;
}

.card_overview_pla h3 {
  text-decoration: underline;
}

.card_overview_pla a {
  margin-left: -15px;
  color: blue;
  cursor: pointer;
  width: 300px;
}
.card_overview_pla a:hover {
  color: #a0705a;
}

/* Planlægning Slut */


/* MIN TOP 3 side START */

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.top3-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.top3-txtboks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ffffff;
  width: 75%;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  float: right;
}

.overskrift {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.txtboks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  float: right;
}

.info_container {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

/* Card Start */
#info, #info2, #info3 {
  margin: 6rem 5rem;
  border: #000 solid 3px;
  border-radius: 10px;
  background-color: #fff;
}

#info h2, #info2 h2, #info3 h2 {
  margin: 50px 0 0 100px;
  text-decoration: underline;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

.card_overview {
  margin-left: 5%;
}

.card_overview h3 {
  margin-left: 55px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_overview h4 {
  text-align: center;
  font-size: 20px;
}

.card_overview li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.card_overview ol {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: -25px;
}

.card_overview video {
  margin: 5% 0 5% 0;
}

.card_title {
  font-weight: bold;
  padding: 10px;
}

.card_description {
  margin-top: 10px;
  padding: 10px;
}

.video {
  border: 3.5px solid black;
  border-radius: 10px;
}


@media screen and (max-width: 768px) {
  #info, #info2, #info3 {
    margin: 2rem;
  }

  #info h2, #info2 h2, #info3 h2 {
    margin: 30px 0 0 50px;
    font-size: 24px;
  }

  .card_overview {
    margin-left: 0;
  }

  .card_overview h3 {
    margin-left: 30px;
    font-size: 22px;
  }

  .card_overview h4 {
    font-size: 18px;
  }

  .card_overview li {
    font-size: 16px;
  }

  .card_overview ol {
    margin-left: -15px;
  }

  .video {
    margin: 2% 0 2% 0;
    width:100%;
  }

  .info_container {
    
      margin: 15px !important;
      display: block !important;
      
  }

.top3-txtboks {
  width: 82%;
}

.container {
  display: block !important; 
  width:100% !important;
  margin: 0 !important;
}

.form-group  textarea {
  width:100%  !important;
}

.form-group input {
width: 100% !important;
}

.image-box-kontakt img {
  width: 100% !important;
  height: auto !important;
  margin: 0 0 20px 36px !important;
  align-content: center !important;

}

.image-box-kontakt {
  width: 80%;
  display:flex !important;
}
  }
/* Min top 3 SLUT */



/* Billige resturante besøg Start */

.re_center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: #000 solid 3px;
}

.re_overskrift{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.re_txtboks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #ffffff;
  width: 900px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  text-align: center;
}

.info_container_re {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: #000 solid 3px;
}
.card_overview_re {
  width: calc(33.33% - 20px);
  margin-left: 200px;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: -20px;
}
.card_overview_re img {
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
  height: 100%;
  max-height: 300px;
  border: #000 solid 3px;
  border-radius: 10px;
  
}

.card_overview_re a {
  margin-left: -15px;
  color: blue;
  cursor: pointer;
  width: 300px;
}

.card_overview_re a:hover {
  color: #a0705a;
}

.card_overview_re h3 {
text-decoration: underline;
}

#velbekomme_re {
  text-align: center;
  font-size: 30px;
}
/* Billige resturante besøg Slut */


/* Kontakt side Start */

/* Formular START */

.container {
 max-width: 100rem;
  background-color: none;
  margin: 40px 0 40px 150px;
  display: flex;
  justify-content: space-between;
}

.form-box {
  flex: 1;
  padding: 20px;
   
}

.form-box h2 {
  text-decoration: underline; 
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  display: block;
}

.form-group input, .form-group textarea {
  width: 844px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
}

.form-group button {
  background-color: #a0705a;
  color: white;
  font-weight: bold;
  border: black solid 3px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: black;
  transition: 0.5s;
  color: #ffffff;
}

#message {
  resize: none;
}

.image-box-kontakt img {
  max-width: 100%;
  height: 500px;
  width: 500px;
  margin-left: 200px;
  margin-top: 35px;
  border: #000 solid 3px;
  border-radius: 10px;
}

/* Formular SLUT */

/* Kontakt side Slut */

 /*CSS SLUT */

 





